

*~
*.o
*.swp
*.log
*.tar.gz

.deps/

/autom4te.cache/
/m4/

/aclocal.m4
/compile
/config.guess
/config.h
/config.h.in
/config.rpath
/config.status
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/libtool
/ltmain.sh
/Makefile
/Makefile.in
/missing
/stamp-h1

/man/Makefile
/man/Makefile.in

/po/Makefile
/po/Makefile.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/*.sed
/po/*.sin
/po/*.header
/po/*.gmo
/po/stamp-po


/src/Makefile
/src/Makefile.in
/src/ow

/ABOUT-NLS
/debian/.debhelper/
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/ow.substvars
/debian/ow/
